.grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
    margin: 0 auto;
}
.square{
    width:200px;
    height:200px;
    border-style: solid;
    border-color: #8A2BE2;
}
.mole{
    background-image: url('mole.jpg');
    background-size: cover;
}

h1,h2{
    text-align: center;
}
#score{
    float: left;
}

.container{
    display: flex;
    justify-content: center;
}
