h3{
    text-align: center;
}
.grid{
    margin: 20px auto;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 420px;
    width:490px;
}

.grid div{
    height: 70px;
    width: 70px;
}

.player-one{
    background-color: red;
    border-radius: 35px;
}

.player-two{
    background-color: blue;
    border-radius: 35px;
}