.grid {
    display: flex;
    margin: 50px auto;
    flex-wrap: wrap;
    border: solid 1px;
    width: 300px;
    height: 300px;
}
h1{
    text-align: center;
    color: rgb(231, 6, 231);
}

.grid div {
    width: 20px;
    height: 20px;
}

.shooter {
    background-color: blue;
}

.invader { 
    background-color: purple;
    border-radius: 10px;
}

.boom {
    background-color: red;
}

.laser {
    background-color: orange;
}